@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

/* stylelint-disable selector-list-comma-newline-after */

.blog-header {
    line-height: 1;
    border-bottom: 1px solid #e5e5e5;
}

.blog-header-logo {
    font-family: "Playfair Display", Georgia, "Times New Roman", serif /*rtl:Amiri, Georgia, "Times New Roman", serif*/;
    font-size: 2.25rem;
}

.blog-header-logo:hover {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Playfair Display", Georgia, "Times New Roman", serif /*rtl:Amiri, Georgia, "Times New Roman", serif*/;
}

.display-4 {
    font-size: 2.5rem;
}

@media (min-width: 768px) {
    .display-4 {
        font-size: 3rem;
    }
}

.nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
}

.nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}

.navbar {
    position: sticky;
    top: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    width: 100%;
}


.nav-scroller .nav-link {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: .875rem;
}

.card-img-right {
    height: 100%;
    border-radius: 0 3px 3px 0;
}

.flex-auto {
    flex: 0 0 auto;
}

.h-250 {
    height: 250px;
}

@media (min-width: 768px) {
    .h-md-250 {
        height: 250px;
    }
}

/* Pagination */
.blog-pagination {
    margin-bottom: 4rem;
}

.blog-pagination > .btn {
    border-radius: 2rem;
}

/*
 * Blog posts
 */
.blog-post {
    margin-bottom: 4rem;
}

.blog-post-title {
    margin-bottom: .25rem;
    font-size: 2.5rem;
}

.blog-post-meta {
    margin-bottom: 1.25rem;
    color: #727272;
}

/*
 * Footer
 */
.blog-footer {
    padding: 2.5rem 0;
    color: #727272;
    text-align: center;
    background-color: #f9f9f9;
    border-top: .05rem solid #e5e5e5;
}

.blog-footer p:last-child {
    margin-bottom: 0;
}


/* stylelint-disable selector-list-comma-newline-after */

.blog-header {
    line-height: 1;
    border-bottom: 1px solid #e5e5e5;
}

.blog-header-logo {
    font-family: Amiri, Georgia, "Times New Roman", serif;
    font-size: 2.25rem;
}

.blog-header-logo:hover {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Amiri, Georgia, "Times New Roman", serif;
}

.display-4 {
    font-size: 2.5rem;
}

@media (min-width: 768px) {
    .display-4 {
        font-size: 3rem;
    }
}

/*.nav-scroller {*/
/*    position: relative;*/
/*    z-index: 2;*/
/*    height: 2.75rem;*/
/*    overflow-y: hidden;*/
/*}*/

/*.nav-scroller .nav {*/
/*    display: flex;*/
/*    flex-wrap: nowrap;*/
/*    padding-bottom: 1rem;*/
/*    margin-top: -1px;*/
/*    overflow-x: auto;*/
/*    text-align: center;*/
/*    white-space: nowrap;*/
/*    -webkit-overflow-scrolling: touch;*/
/*}*/

/*.nav-scroller .nav-link {*/
/*    padding-top: .75rem;*/
/*    padding-bottom: .75rem;*/
/*    font-size: .875rem;*/
/*}*/

.card-img-right {
    height: 100%;
    border-radius: 3px 0 0 3px;
}

.flex-auto {
    flex: 0 0 auto;
}

.h-250 {
    height: 250px;
}

@media (min-width: 768px) {
    .h-md-250 {
        height: 250px;
    }
}

/* Pagination */
.blog-pagination {
    margin-bottom: 4rem;
}

.blog-pagination > .btn {
    border-radius: 2rem;
}

/*
 * Blog posts
 */
.blog-post {
    margin-bottom: 4rem;
}

.blog-post-title {
    margin-bottom: .25rem;
    font-size: 2.5rem;
}

.blog-post-meta {
    margin-bottom: 1.25rem;
    color: #727272;
}

/*
 * Footer
 */
.blog-footer {
    padding: 2.5rem 0;
    color: #727272;
    text-align: center;
    background-color: #f9f9f9;
    border-top: .05rem solid #e5e5e5;
}

.blog-footer p:last-child {
    margin-bottom: 0;
}


/* Set the size of the div element that contains the map */
#map {
    height: 1000px;
    /* The height is 400 pixels */
    width: 100%;
    /* The width is the width of the web page */
}


/**** Post BoX *****/

.post-tweet-box {
    width: 36.8em;
    height: 3.8em;
    position: relative;
    background-color: #E8F5FD;
    overflow: hidden;
    padding-top: 0.6em;
}


.outer {
    width: 31.8em;
    border-radius: 0.5em;
    border: 0.08em solid #C6E7FB;
    background-color: white;
    display: inline-block;
    position: relative;
}


.tweetbox-content {
    width: 88.5%;
    float: right;
}

.new-tweet-input {
    border-radius: 0.5em;
    border: 0;
    width: 34em;
    height: 2.8em;
    font-size: 0.85em;
    font-weight: 300;
    padding-left: 0.5em;
}

.upload-btn-wrapper {
    position: relative;
    float: right;
    margin: auto;
}

.upload-btn-wrapper input[type=file] {
    opacity: 0;
    overflow: hidden;
    width: 2.4em;
    height: 2.4em;
    position: absolute;
    left: 0;
    top: 0;
}

.upload-image-icon {
    width: 1em;
    padding-bottom: 0.2em;
    cursor: pointer;
}

.newtweet-box-image-box {
    width: 11.5%;
    float: left;
    clear: both;
}

.newtweet-profile-pic {
    width: 2em;
    height: 2em;
    border-radius: 50%;
    margin-left: 1.8em;
    margin-right: auto;
    display: block;
    margin-top: 0.2em;
}

.postbody {
    display: none;
}



