<!DOCTYPE html>
<html lang="en">
<head>
    <div th:replace="fragments.html :: header"></div>
</head>
<body>
<!--<div class="wrapper">-->
<div id="navbar" th:replace="fragments.html :: navbar"></div>
<br>
<br>

<main class="container">
    <div class="p-4 p-md-5 mb-4 text-white rounded bg-dark">
        <div class="col-md-6 px-0">
            <h1 class="display-4 fst-italic" th:text="${community.name}"></h1>
            <p class="lead my-3" th:text="${community.description}">
            </p>
        </div>
    </div>
    <div class="row g-5">
        <div class="col-md-8">
            <h3 class="pb-4 mb-4 fst-italic border-bottom">

            </h3>

            <article class="blog-post">
                <h2 class="blog-post-title">Goal</h2>

                <p th:text="${community.goal}"></p>
                <hr>
                <h2 class="blog-post-title">History</h2>
                <p th:text="${community.history}"></p>
                <hr>

                <div class=" row">
                    <div class="col-lg-4">
                        <div class="card" style="width: 15rem;">
                            <img class="card-img-top"
                                 alt="Card image cap" th:src="@{/images/avatar.png}"/>
                            <div class="card-body">
                                <p>FFION FARNELL, CEO</p>
                                <p class="card-text">Some quick example text to build on the card title and make up
                                    the bulk of the card's content.</p>
                            </div>
                        </div>
                    </div><!-- /.col-lg-4 -->
                    <div class="col-lg-4">
                        <div class="card" style="width: 15rem;">
                            <img class="card-img-top"
                                 alt="Card image cap" th:src="@{/images/avatar.png}"/>
                            <div class="card-body">
                                <p>FFION FARNELL, CEO</p>
                                <p class="card-text">Some quick example text to build on the card title and make up
                                    the bulk of the card's content.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="card" style="width: 15rem;">
                            <img class="card-img-top"
                                 alt="Card image cap" th:src="@{/images/avatar.png}"/>
                            <div class="card-body">
                                <p>FFION FARNELL, CEO</p>
                                <p class="card-text">Some quick example text to build on the card title and make up
                                    the bulk of the card's content.</p>
                            </div>
                        </div>
                    </div>
                </div>

            </article>

        </div>

        <div class="col-md-4">
            <div class="position-sticky" style="top: 2rem;">

                <div class="p-4">
                    <h4 class="fst-italic">Projects</h4>
                    <ol class="list-unstyled mb-0">
                        <li th:each="project: ${community.getProjects()}">
                            <a th:href="@{/project/{id}(id = ${project.id})}" th:text=" ${project.name}"></a></li>
                    </ol>
                </div>
                <div class="p-4">
                    <h4 class="fst-italic">Case Studies</h4>
                    <ol class="list-unstyled">
                        <li><a href="#">Mental health problems</a>
                        </li>
                        <li><a href="#">Unemployed : Woodland service worker</a></li>
                        <li><a href="#">Redundant :Tir coed activity leader</a></li>
                    </ol>
                </div>

                <div class="p-4">
                    <h4 class="fst-italic">Activities</h4>
                    <ol class="list-unstyled">
                        <li th:each="activity: ${community.getActivities()}">
                            <a href="#" th:text="${activity.name}"></a>
                            <p>Venue:
                            <p>
                            <p th:text="${activity.venue}"></p>
                            </p>
                            <p>Timing: <label th:text="${activity.getFormattedActivityDateTime()}"> </label>
                            </p>
                        </li>
                    </ol>
                    <div class="d-grid">
                        <a href="activity/{id}">
                            <button type="button" class="btn btn-primary btn-lg" id="submitButton">Create Activity</button>
                        </a>
                    </div>
                </div>
                <div class="p-4">
                    <h4 class="fst-italic">Education and Training</h4>
                    <ol class="list-unstyled mb-0">
                        <li><a href="#">Progression weeKs</a></li>
                        <li><a href="#">Accredited training courses</a></li>
                    </ol>
                </div>
                <div class="p-4 mb-3 bg-light rounded">
                    <h4 class="fst-italic">About Us</h4>
                    <p class="mb-0" th:text="${community.getAboutUs()}"></p>
                </div>
            </div>
        </div>
    </div>

</main>

<div th:replace="fragments.html :: footer"></div>
</body>
</html>