<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
      <div th:replace="fragments.html :: header"></div>
  </head>
  <body>
  <div id="navbar" th:replace="fragments.html :: navbar"></div>
  <br>
    <h1>Create a case study</h1>
    <div class="container px-5 my-5">

        <form th:action="@{/createCaseStudy}" th:object="${casestudy}" method="post">
           <!-- <div class="mb-3">
                <label class="form-label">Your Username: </label>
                <input type="email" class="form-control" th:field="*{username}"/>
            </div>-->
            <div class="mb-3">
                <label class="form-label">Your proposed case study title: </label>
                <input type="text" class="form-control" maxlength="2000" th:field="*{title}"/>
            </div>

            <div class="mb-3">
                <label class="form-label">Your case study's introduction:</label>
                <input type="text" class="form-control" maxlength="2000" th:field="*{caseIntroduction}"/>
            </div>

            <div class="mb-3">
                <label class="form-label">Your case study's solution </label>
                <input type="text"  class="form-control"  maxlength="2000" th:field="*{caseSolutions}"/>
            </div>
            <div class="mb-3">
                <label class="form-label">Your case study's evaluation </label>
                <input type="text"  class="form-control"  maxlength="2000" th:field="*{caseEvaluation}"/>
            </div>

            <div class="mb-3">
                <label class="form-label">Your case study's implementations </label>
                <input type="text"  class="form-control" maxlength="2000" th:field="*{implementations}"/>
            </div>

            <div class="mb-3">
                <label class="form-label">Your case study's conclusion </label>
                <input type="text"  class="form-control" maxlength="2000" th:field="*{conclusion}"/>
            </div>

            <div class="d-grid">

                <button class="btn btn-primary btn-lg" id="submitButton" type="submit" >Create</button>
            </div>

        </form>
    </div>
  <div th:replace="fragments.html :: footer"></div>
  </body>
  
<!--<script>
    let buttonElement = document.getElementById("submitButton");
    buttonElement.onclick = function (){
        alert("Success");
        window.location.href("/viewCaseStudy/");
    }
</script>-->
</html>
