<!DOCTYPE html>
<html lang="en">
<head>
    <div th:replace="fragments.html :: header"></div>

</head>
<body>
<div id="navbar" th:replace="fragments.html :: navbar"></div>
<br>

<!--Write under this-->
<form id="createCommunityForm" style="margin: 60px" th:action="@{/home/NewCommunity}" th:object="${community}"
method="post">
<!--<div class="container-lg">-->
    <div id="firstRow" class="row">
        <div id="col1NC" class="col-lg-4">
            <p>
                <label for="prof-picture">Select some images </label>
                <input  type="file" id="prof-picture" accept="image/*" multiple>
            </p>    
        </div>
        <div id="NCbackroundimg" class="col-lg-8">
           <p>
              <label for="back-picture">Add a backround image </label>
              <input type="file" id="back-picture" accept="image/*" >
           </p>

        </div>



     <div id="secondRow" class="row">
        <div class="col-lg-6">

                <div class="form-group">
                    <label for="nameInput">Community Name</label>
                    <input th:field="*{name}" type="text" class="form-control" id="nameInput" placeholder="e.g Healthcare Community...">
                </div>
            <div id="thirdRow" class="row">
                <div class="form-group">
                    <label for="nameInput">Type main Location</label>
                    <input  type="text" class="form-control" id="locationInput" placeholder="Type your address...">
                </div>
            </div>


            <div id="eighthRow" class="row">
                <div class="form-group">
                    <label for="aboutUs">Write a summary of what you do in the Community</label>
                    <input type="text"  class="form-control" id="aboutUs" rows="3" placeholder="e.g We are a community that helps people...">
                </div>
            </div>


        </div>
        <div class="col-lg-6">
            <div class="row">
                <div class="form-group">
                    <label for="communityDescription">Community Description</label>
                    <input  type="textarea"  class="form-control" id="communityDescription" rows="5">
                </div>
            </div>

            <div class="row">
                <div class="form-group">
                    <label for="goal">Your Goal</label>
                    <input type="textarea"  class="form-control" id="goal" rows="3">
                </div>
            </div>

            <div class="row">
                <div class="form-group">
                    <label for="history">History</label>
                    <input type="textarea"  class="form-control" id="history" rows="3">
                </div>
            </div>

        </div>
    </div>

</div>
    <br>
    <div class="d-grid">
        <button class="btn btn-primary btn-lg" id="submitButton" style="width: 100px" type="submit">Submit</button>
    </div>
</form>




<div th:replace="fragments.html :: footer"></div>

</body>
</html>