
<html>
  <head>
    <link rel="stylesheet" href="./thanks_page.css">
  </head>
  <body>

  <div class="head1">
    <h1 align="center">Thanks<small> for the contributors</small></h1>
  </div>

  <div class="p-1">
    <p>This page is used to thank those who have made great contributions to the community. </p>
    <p>With their selfless dedication, our community can become better and better, I believe the world will be better because of them.</p>
  </div>




    <div class="card">
      <img src="https://static.runoob.com/images/mix/img_avatar.png">
      <div class="container">
        <h2><b>name</b></h2> 
        <p>positon</p>
        <p>introduction</p>
      </div>
    </div>

    <div class="card">
      <img src="https://static.runoob.com/images/mix/img_avatar.png">
      <div class="container">
        <h2><b>name</b></h2>
        <p>positon</p>
        <p>introduction</p>
      </div>
    </div>

    <div class="card">
      <img src="https://static.runoob.com/images/mix/img_avatar.png">
      <div class="container">
        <h2><b>name</b></h2>
        <p>positon</p>
        <p>introduction</p>
      </div>
    </div>

    <div class="card">
      <img src="https://static.runoob.com/images/mix/img_avatar.png">
      <div class="container">
        <h2><b>name</b></h2>
        <p>positon</p>
        <p>introduction</p>
      </div>
    </div>

    <div class="card">
      <img src="https://static.runoob.com/images/mix/img_avatar.png">
      <div class="container">
        <h2><b>name</b></h2>
        <p>positon</p>
        <p>introduction</p>
      </div>
    </div>

    <div class="card">
      <img src="https://static.runoob.com/images/mix/img_avatar.png">
      <div class="container">
        <h2><b>name</b></h2>
        <p>positon</p>
        <p>introduction</p>
      </div>
    </div>

    <div class="card">
      <img src="https://static.runoob.com/images/mix/img_avatar.png">
      <div class="container">
        <h2><b>name</b></h2>
        <p>positon</p>
        <p>introduction</p>
      </div>
    </div>

    <div class="card">
      <img src="https://static.runoob.com/images/mix/img_avatar.png">
      <div class="container">
        <h2><b>name</b></h2>
        <p>positon</p>
        <p>introduction</p>
      </div>
    </div>

    <div class="card">
      <img src="https://static.runoob.com/images/mix/img_avatar.png">
      <div class="container">
        <h2><b>name</b></h2>
        <p>positon</p>
        <p>introduction</p>
      </div>
    </div>

    <div class="card">
      <img src="https://static.runoob.com/images/mix/img_avatar.png">
      <div class="container">
        <h2><b>name</b></h2>
        <p>positon</p>
        <p>introduction</p>
      </div>
    </div>

    <div class="card">
      <img src="https://static.runoob.com/images/mix/img_avatar.png">
      <div class="container">
        <h2><b>name</b></h2>
        <p>positon</p>
        <p>introduction</p>
      </div>
    </div>

    <div class="card">
      <img src="https://static.runoob.com/images/mix/img_avatar.png">
      <div class="container">
        <h2><b>name</b></h2>
        <p>positon</p>
        <p>introduction</p>
      </div>
    </div>

    <div class="card">
      <img src="https://static.runoob.com/images/mix/img_avatar.png">
      <div class="container">
        <h2><b>name</b></h2>
        <p>positon</p>
        <p>introduction</p>
      </div>
    </div>
  </body>
</html>