<!DOCTYPE html>
<html lang="en">
<head>
    <div th:replace="fragments.html :: header"></div>
</head>
<body>
<div id="navbar" th:replace="fragments.html :: navbar"></div>
<br>


<main class="container">
    <h1 th:text="${casestudy.getName()}"></h1>
    <p th:text="${casestudy.getDescription()}"></p>
    <div class="p-4 p-md-5 mb-4 text-white rounded bg-dark">
        <div class="col-md-6 px-0">
            <h1 class="display-4 fst-italic">Title of the case study</h1>
        </div>
    </div>

    <div class="row g-5">
        <div class="col-md-8">

            <article class="caseStudy-Main">
                <h2 class="caseStudy-Intro">Introduction</h2>
                <p>this is the introduction of case study </p>
                <hr>

                <h2 class="caseStudy-Evaluation">Case evaluation</h2>
                <p> Isolate the sections of the study you want to focus on. In it, explain why something is working or is not working.</p>
                <hr>

                <h2 class = "caseStudy-Solutions">Case solutions</h2>
                <p>Offer realistic ways to solve what isn’t working or how to improve its current condition. Explain why these solutions work by offering testable evidence.
                </p>
                <hr>

                <h2 class="caseStudy-Implementation">Implementations</h2>
                <p>Explain how to put the strategy into action.</p>
                <hr>

                <h2 class="caseStudy-Conclusion">Conclusion</h2>
                <p>Summarize the main points from the above sections.</p>
                <hr>
            </article>
        </div>

        <div class="col-md-4">
            <div class="position-sticky" style="top: 2rem;">
                <div class="p-4">
                    <h4 class="fst-italic">Related Case Studies</h4>
                    <ol class="list-unstyled mb-0">
                        <li><a href="#">Case Study 01</a></li>
                        <li><a href="#">Case Study 02</a></li>
                        <li><a href="#">Case Study 03</a></li>
                        <li><a href="#">Case Study 04</a></li>
                    </ol>
                </div>

                <div class="p-4">
                    <h4 class="fst-italic">Contact Us</h4>
                    <ol class="list-unstyled">
                        <li><a href="#">GitHub</a></li>
                        <li><a href="#">Twitter</a></li>
                        <li><a href="#">Facebook</a></li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

</main>



<div th:replace="fragments.html :: footer"></div>
</body>
</html>